<div>working</div>

{% schema %}
{
  "name": "tab switch",
  "tag": "section",
  "class": "sectiion tab_switcher",
  "settings": [
    {
      "type": "image_picker",
      "label": "Image 1",
      "id": "image_1",
      "info": "Recommended size: 129 x 150"
    },
    {
      "type": "image_picker",
      "label": "Image 2",
      "id": "image_2",
      "info": "Recommended size: 129 x 150"
    },
    {
      "type": "image_picker",
      "label": "Image 3",
      "id": "image_3",
      "info": "Recommended size: 129 x 150"
    },
    {
      "type": "richtext",
      "label": "Heading",
      "id": "heading"
    },
    {
      "type": "text",
      "label": "Description",
      "id": "description"
    }
  ],
  "presets": [
    {
      "name": "tab switch"
    }
  ]
}
{% endschema %}
